@use "colours";

:host {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header, .subheader {
  align-items: baseline;
  display: flex;
  flex-direction: row;

  h1 {
    color: #D362A4;
    font-size: 36pt;
    font-weight: 300;
    margin: 32px 0 0;
  }
}


hr {
  border: none;
  border-top: 4px solid colours.$accent-darker;
  margin: 12px 0 24px;
}

.icons {
  margin-left: auto;

  fa-icon {
    color: #A30262;
    font-size: 36px;
    padding-left: 4px;
  
  }

  :hover {
    color: colours.$base;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;
  min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 40px; 
}
