@use "../../app/colours";

.card {
  border: colours.$base solid 6px;
  border-radius: 15px;

  box-shadow: 18px 12px colours.$accent;

  display: flex;
  flex-direction: column;

  max-width: 700px;
  min-width: 400px;
  padding: 6px 6px 24px;

  fa-icon {
    color: colours.$base;
    padding-top: 6px;
  }

  &__text {
    line-height: 24px;
    padding: 0 20px;
  }
}
