@use '../../tokens' as t;

:host {
  border: t.$ui-primary solid 6px;
  border-radius: t.$radius-xl;

  box-shadow: 16px 12px t.$ui-accent;

  display: flex;
  flex-direction: column;

  min-width: 400px;
  padding: t.$space-m t.$space-l t.$space-l;

  fa-icon {
    color: t.$ui-primary;
    padding-top: t.$space-s;
  }

  .title {
    font-size: 24pt;
    font-weight: normal;
    color: t.$brand-orange-burnt;
  }

  .text {
    line-height: 1.7;
  }
}
