@use "colours";
@use "spacing";

.header, .subheader {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  padding: 0 spacing.$l;

  h1 {
    color: colours.$accent;
    font-size: 36pt;
    font-weight: 300;
    margin: spacing.$xl 0 0;
  }
}


hr {
  border: none;
  border-top: spacing.$xs solid colours.$accent-darker;
  margin: spacing.$m 0 0;
}

.icons {
  margin-left: auto;

  fa-icon {
    color: colours.$accent-darker;
    font-size: 36px;
    padding-left: spacing.$xs;
  }

  :hover {
    color: colours.$base;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  height: 100%;
  padding: spacing.$xl 0;
}
