@use '../tokens' as t;

.header, .subheader {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  padding: 0 t.$space-l;

  h1 {
    color: t.$ui-accent;
    font-size: 36pt;
    font-weight: 300;
    margin: t.$space-xl 0 0;
  }
}


hr {
  border: none;
  border-top: t.$space-xs solid t.$ui-accent-dark-75;
  margin: t.$space-s 0 0;
}

.icons {
  margin-left: auto;

  fa-icon {
    color: t.$ui-accent-dark;
    font-size: 36px;
    padding-left: t.$space-xs;
  }

  :hover {
    color: t.$ui-primary;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.page {
  background-color: rgba(t.$ui-accent, 0.05);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  height: 100%;
  padding: t.$space-xl 0;
}
