<input
  id="searchString"
  type="text"
  [(ngModel)]="searchString"
  (ngModelChange)="onInputChange($event)"
  placeholder="Search for words starting with..."
>

@switch (state()) {
  @case ('loading') {
    <div class="noResults">
      <fa-icon [icon]="ICONS.hourglass"></fa-icon>
      Loading ...
    </div>
  }
  @case ('initial') {
    <div class="noResults">
      <fa-icon [icon]="ICONS.alert"></fa-icon>
      Please enter at least {{ MIN_SEARCH_LENGTH }} characters
    </div>
  }
  @case ('empty') {
    <div class="noResults">
      <fa-icon [icon]="ICONS.search"></fa-icon>
      No matches found.
    </div>
  }
  @case ('loaded') {
    <div class="results">
      <ol>
        @for (suggestion of suggestions(); track suggestion.word) {
          <li>
            {{ suggestion.word }}
          </li>
        }
      </ol>
    </div>
  }
}
