@use 'app/colours';

a, b {
  color: colours.$accent-darker;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


code {
  background-color: rgba(colours.$base, 0.5);
  color: colours.$accent-darker;
  font-weight: bold;
}

h1 {
  color: colours.$accent-darker;
  font-weight: normal;
}

h2, h3 {
  color: colours.$accent-darker;
}
